html{
    height: 100%;
}
.navbar{
    background-color: #292929;
    color: white;
    display: flex;
    justify-content: space-between;

}
.navbar a{
    margin:15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar a:hover{
    color:#1ed55f;
}
.navbar a:current{
    color: red;
}
body{
    margin:0;
    height: 100%;
    background: #121212;
    background-repeat: no-repeat;
    text-align: center;
}
html {
    color: white;
    font-family: "Franklin Gothic Book";
}
h1{
    color: #1ed55f;
    font-size: 50px;
}
.chart{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    display: flex;
    justify-content: center;
}